<li [ngClass]="{'list-group-item':true,'list-group-item-success': post.loveIts>0
,'list-group-item-danger': post.loveIts<0}" [ngStyle]="{color:getColor()}">
  <div>
    <h3 [ngStyle]="{textAlign:'left',color:'grey',paddingLeft:'70%',marginBottom:'0px',marginTop:'0px', fontStyle:'italic'}">{{getDate() | date:'medium'}}</h3>
    <h2 [ngStyle]="{marginTop:'0px'}" >{{post.title}}  </h2>
<p>
  {{post.content}}
</p>
  <button class="btn-success" (click)="onLoveIt()"> Love it!</button>
  <button class="btn-danger" (click)="onDontLoveIt()"> Don't love it!</button>
</div>
</li>
